h1 {
  color: rgb(25, 0, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30pix;
  text-shadow: 2px 2px 2px slategrey;
}
p {
  text-indent: 20px;
}
#muda {
  color: red;
}
#muda h1 {
  inline-size: 1px;
  color: cadetblue;
}

#titulos {
  text-align: center;
}

section table th,
td {
  border: 1px solid black;
}
